<div class="garage" ng-controller="CarGarageController">

    <header class="mui-bar mui-bar-nav dix-bar-menu">
        <a href="javascript:;" ng-click="goBack()"
           class="mui-action-back mui-btn mui-btn-link mui-btn-nav mui-pull-left">
            <img src="./main/img/icon-arrow-left.png" class="left">
        </a>
        <h1 class="mui-title">车库</h1>
    </header>

    <div class="content">
        <ul class="list">

            <li ng-repeat="item in colorList">
                <div class="head">
                    <div class="left-section">
                        <i ng-style="{'background':item.color}"></i>
                        <span class="name">{{modelName}}</span>
                        <span class="color">{{item.title}}</span>
                    </div>
                    <div class="right-section" ng-click="onSelect(item.id, $index)">
                        <img src="./main/img/icon-selected.png" ng-show="item.selected">
                        <img src="./main/img/icon-unselected.png" ng-show="!item.selected">
                    </div>
                </div>
                <div class="split-line"></div>
                <div class="main">
                    <img src="./main/img/link-list/car01.png">
                </div>
            </li>
        </ul>
    </div>
</div>