.dix-icon {
    position: relative;
    top: 1px;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
}

.icon-more { background: url("../img/icon-more.png"); background-position: center; background-size: cover; height: 20px; width: 20px; }
.icon-pen { background: url("../img/icon-pen.png"); background-position: center; background-size: cover; height: 10px; width: 10px; }
.icon-riding-distance { background: url("../img/icon-riding-distance.png"); background-position: center; background-size: cover; height: 10px; width: 10px; }
.icon-riding-time { background: url("../img/icon-riding-time.png"); background-position: center; background-size: cover; height: 10px; width: 10px; }
.icon-riding-max-speed { background: url("../img/icon-riding-max-speed.png"); background-position: center; background-size: cover; height: 10px; width: 10px; }
.icon-riding-ave-speed { background: url("../img/icon-riding-ave-speed.png"); background-position: center; background-size: cover; height: 10px; width: 10px; }
.icon-feel { background: url("../img/icon-feel.png"); background-position: center; background-size: cover; height: 10px; width: 10px; }