<div ng-controller="AvatarController">
    <a href="#picture">
        <div id="changeAvatar"></div>
    </a>
    <div id="showEdit">
        <header class="mui-bar mui-bar-nav mui-nav-bg" style="background:none; position:absolute; top:0;">
            <a class="mui-icon iconfont icon-roundclosefill mui-pull-left" style="color:#ffffff; font-size:36px;"
               ng-click="closeEdit();"></a>
            <a class="mui-icon iconfont icon-roundcheckfill mui-pull-right" style="color:#ffffff; font-size:36px;"
               ng-click="confirm();"></a>
        </header>
        <div id="report"></div>
    </div>
</div>