<div class="forget-password"  ng-controller="LoginForgetPasswordController">
    <div class="title">
        <button class="left" ng-click="goBack()">
            <img src="./main/img/login-back.png">
        </button>
        <span class="mid">忘记密码</span>
    </div>

    <div class="content">
        <div class="form-group">
            <label for="phone">手机号:</label>
            <input type="text" class="form-control" id="phone" placeholder="请输入手机号" ng-model="phone" ng-focus="stopTouch()">
        </div>
        <div class="form-group">
            <label for="vcode">验证码:</label>
            <input type="text" class="form-control" id="vcode" placeholder="请输入验证码" ng-model="vcode" ng-focus="stopTouch()">
        </div>
        <div class="send-code" ng-click="getSmsCode()">{{wait.name}}</div>
    </div>

    <div class="bottom">
        <div class="bottom-btn finish" ng-class="{'activate': phone && vcode}" ng-click="next()">下一步</div>
    </div>
</div>